/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
.ui-datepicker-trigger { position:relative;top:8px ;left:5px ; bottom:0px ;height:25px }
 /* {} is the value according to your need */

 .core{
    float: right;
	max-width: 1500px;
	top: 25px;
	min-height: 50%;
	background: #F0F0F0;
}

.container {
  max-width: 400px;
  float:left;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  text-align: center;
  padding: 20px 35px 15px 35px;
  position: relative;
}

#login-buttons {
  display: block;
}

#footer {
    position : absolute;
    bottom : 0;
	right: 0;
	width: 965px;
    height : 100px;
    margin-top : 40px;
	text-align: bottom-right;
	background: #F0F0F0;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.core input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: solid;
  border-width: thin;
  margin-left: 35px;
  width: 80%;
  padding-right: 80px;
  font-size: 1em;
}

.update-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: solid;
  border-width: thin;
  margin-left: 35px;
  width: 80%;
  padding-right: 80px;
  font-size: 1em;
}

.update-task input[type=submit] {
width: 90px;
padding: 1px;
position: absolute;
left: 120px;
top: 475px;
background: #09c;
color: #fff;
font-family: tahoma,geneva,algerian;
height: 20px;
text-align:center;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 15px;
border: 1px solid #999;
}

.update-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
.map-container {
  width: 962px;
  top: 150px;
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
}
